* {
    box-sizing: border-box;
}

div#contenido{
    display: flex;
    flex-direction: column;
}
div#contenido header#cabecera{
    background-color: orangered;
    text-align: center;
    font-weight: bold;
    height: 2rem;
    padding-top: 0.5rem;
}
div#contenido article#main{
    background-color: blue;
    padding: 1rem;
}
div#contenido footer#pie{
    background-color: green;
    text-align: center;
    font-weight: bold;
    height: 2rem;
    padding-top: 0.5rem;
}
aside#aside1{
    background-color: yellow;
    text-align: center;
    font-weight: bold;
    height: 2rem;
    padding-top: 0.5rem;
}
aside#aside2{
    background-color: palevioletred;
    text-align: center;
    font-weight: bold;
    height: 2rem;
    padding-top: 0.5rem;
}

@media (min-width:600px){
    div#contenido{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    div#contenido header#cabecera{
        flex: 100%;
    }
    div#contenido footer#pie{
        flex: 100%;
    }
    div#contenido aside{
        flex: 50%;
    }
}

@media (min-width:800px){
    div#contenido aside{
        flex: 15%;
    }
    div#contenido header#cabecera{
        background-color: orange;
        order: 1;
    }
    div#contenido footer#pie{
        order: 5;
    }
    div#contenido aside#aside1{
        order: 2;
    }
    div#contenido aside#aside2{
        order: 4;
    }
    div#contenido article{
        flex: 40%;
        order: 3;
    }
}
