*{
    box-sizing: border-box;
}

body{
    font-size: 16px;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    padding-left: 0;
}

li{
    text-decoration: none;
    list-style: none;
}

/* ============================ VERSIÓN MÓVIL ============================ */

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > nav#menu-principal > ul#menu{
    display: none;
}
header > nav#menu-principal{
    flex: 100%;
}
header > picture#logo-cabecera{ /* LOGO */
    flex: 0 0 15%;
    height: auto;
}

header > picture#logo-cabecera img{ /* FOTO DEL LOGO */
    width: 200px;
    order: 1;
}

header > nav#bloque-iconos{ /* ICONOS COMPRA Y BUSCAR */

/* border: 1px solid orange; */
flex: 0 20%;
}

header > nav#bloque-iconos > ul{
    display: flex;
    flex-grow: 0;
    justify-content: space-evenly;
}

header > nav#bloque-iconos > ul > li > a{
/*     border: 1px solid blue; */
    font-size: 1.25rem;
}

header > nav#menu-principal{
    flex: 100%;
    text-align: center;
    background-color: black;
    color: white;
}

header > nav#menu-principal > div#hamburguesa{
    display: flex;
    flex-flow: column;
}

header > nav#menu-principal > div#hamburguesa{

}

/* ============================   MAIN  ============================ */

main{
    display: flex;
    flex-flow: column;
}

main > section#form-contacto{
    display: flex;
    flex-flow: column;
    align-items: center;
}

main > section#form-contacto > form#contacto{
    display: flex;
    flex-flow: column;
    width: 0 50%;
}

main > section#form-contacto > h2{
    margin-bottom: none;
}

main > section#form-contacto > form#contacto > label{
    display: none;
}
main > section#form-contacto > form#contacto > span{
    margin: 0 0.5rem;
    font-size: 0.8rem;
    color: gray;
}
main > section#form-contacto > form#contacto > input{
    margin: 0.5rem;
}
main > section#form-contacto > form#contacto > select{
    margin: 0.5rem;
}
main > section#form-contacto > form#contacto > textarea{
    margin: 0.5rem;
}

main > section#form-contacto > form#contacto > input:last-child{
    margin: 0.5rem;
    background-color: black;
    color: white;
}

/* PARA NO VER FOOTER */

footer{
    display: none;
}

@media(min-width:600px){
    /* Se hará más adelante la versión de escritorio */
}