*{
    box-sizing: border-box;
}

body{
    font-size: 16px;
}

/*ETIQUETAS*/
header h2{
    text-align: center;
}
div{
    display: flex;
    justify-content: center;
}
/*ANIDAMIENTOS*/
div > form{
    display: flex;
    flex-flow: column;
    flex: 0 20rem;
    justify-content: space-evenly;
    padding: 1rem;
}
div > form > input{
    border: none;
    padding: 10px;
    border-bottom: black 1px solid;
    cursor: pointer;
}
div > form > input::placeholder{
    color: black;
}
div > form > label{
    border: none;
    margin-bottom: 1rem;
}

select#pais, select#provincia{
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: lightgray;
    cursor: pointer;
}
div > form > button{
    color: black;
    font-weight: bold;
    border: 2px black solid;
    border-radius: 5px;
    margin-top: 1rem;
    flex: 0 50%;
    align-self: center;
}

div > form > button:hover{
    color: black;
    border: 2px black solid;
    background-color: grey;
    cursor: pointer;
}

div > form > div {
    display: flex;
    margin-top: 1rem;
    justify-content: space-evenly;
}
div > form > div > input{
    cursor: pointer;
}

@media(min-width:600px){
    div{
        flex: 0 100%;
    }
    div > form{
        flex-flow: row wrap;
        justify-content: space-evenly;
        flex: 0 30rem;
    }

    div > form > input{
        flex: 0 48%;
        margin-left: 0;
        margin-top: 0.5rem;
    }
    div > form > input#ciudad{
        flex: 0 97%;
        margin-top: 0.5rem;
    }
    div > form > p{
        margin: 1rem 0 0 0;
        flex: 0 97%;
    }
    div > form > select#pais, div > form > select#provincia{
        flex: 0 48%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border: none;
        background-color: lightgray;
    }

    div > form > input#telefono{
        flex: 0 97%;
    }
    div > form > button{
        flex: 0 30%;
        padding: 0.25rem;
    }
}

