html{
    font-family: 'Open Sans';
    font-size:  14px;
    color: black;
    background-color: white;
}

#cabecera{
    background-color: #e6e7e8;
    border: #3f3f3f 2px solid;
    border-radius: 5px;
}

#pie{
    background-color: #e6e7e8;
    color: #3f3f3f;
    border: #3f3f3f 2px solid;
    border-radius: 5px;
    height: 2rem;
}

#logo{
    width: 5rem;
    height: 4.35rem;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Bree Serif';
    color: #00acdd;
}

header h1{
    color: #004166;
    font-weight: bold;
}

#subject{
    color: #96bc33;
}

a{
    text-decoration-line: none;
    color: #00acdd;
}

a:hover{
    cursor: pointer;
    color: #f58a1e;
}

a:active{
    color: #ea2126;
}

nav ul li{
    list-style-type: none;
}

section{
    border: solid 2px #004166;
    border-radius: 5px;
}

main section h2{
    text-align: center;
}

.news-art{
    border: 5px #e6e7e8;
    border-radius: 10px;
    width: 50%;
}

article img{
    width: 30%;
    height: auto;
}

main section article p{
    width: 70%;
    height: auto;
    text-align: justify;
}

#art1{
    background-color: #e6e7e8;
    border: solid #f58a1e;
}