/* INICIO MODS 
/* el código introducido aquí es el código que yo he escrito */
/* FIN MODS */

*{box-sizing: border-box;}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: black;
  background-color: white;
}
/* MODS */
div#content{
  display: flex;
  flex-direction: column;
}
/* FIN MODS */
header, footer{
  background-color: #e6e7e8;
  border: 2px solid #3f3f3f;
  border-radius: 5px;
  /* MODS */
  display: flex;
  justify-content: center;
  /*FIN MODS*/
}

footer{
  color: #3f3f3f;
  height: 2rem;
}

header img#logo{
  width: 5rem;
  height: 4.35rem;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Bree Serif', serif;
  color: #00acdd;
}

header h1{
  color: #004166;
  font-weight: bold;
}

header h1 span#subject{
  color: #96bc33;
}

a{
  text-decoration: none;
  cursor:pointer;
}

a:link{
  color: #00acdd;
}

a:visited{
  color: #ea2126;
}

a:hover{
  cursor: pointer;
  color: #f58a1e;
}

nav ul li{
  list-style-type: none;
}
nav ul{
	padding-left: 0;
}

nav#main-menu{
  background-color: #004166;
  font-weight: bold;
  border: 2px solid #e6e7e8;
  border-radius: 5px;
  /* INICIO MODS */
  display: flex;
  justify-content: center;
  /* FIN MODS */
}

main section#principal{
  border: 2px solid #004166;
  border-radius: 5px;
  /* INICIO MODS */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* FIN MODS */
}

main section article.news-art{
  border: 5px solid #e6e7e8;
  border-radius: 0.8rem;
  /* INICIO MODS */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* FIN MODS */
}
div#content main section#principal article#primerElemento{
  background-color: #e6e7e8;
  border-color: #f58a1e;
}

div#content main section article.news-art img{
  width: 20rem;
  height: auto;
}

div#content main section article.news-art p{
  padding: 0 1rem;
}

/* INICIO MODS */

div#content > nav#main-menu > input, div#content > nav#main-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
div#content > nav#main-menu > input, div#content > nav#main-menu > span{
  width: 2rem;
  height: 2rem;
}

/* FIN MODS */

/* codigo de la maetsra x meet */
div#content > nav#main-menu > input, div#content > nav#main-menu > ul{
	display:none;
}
div#content > nav#main-menu > input:checked + ul{
	display: block;
	margin-top:0;
}


/* INICIO MODS */

@media(min-width:760px){
  h2{
    color: brown;
  }
  header, footer{
    justify-content: left;
  }
  main section article.news-art{
    flex-direction: row wrap;
  }
  main section article.news-art h3{
    align-self: flex-start;
    width: 100%;
  }
  main section article.news-art img{ /* Imagen */
    flex-basis: 40%;
    align-self: flex-start;
  }
  main section article.news-art p{ /* texto */
    flex-basis: 40%;
  }

}

@media(min-width:1024px){
  h2{
    color:#96bc33
  }
  main section#principal{
    flex-direction: row wrap;
  }
  div#content main section#principal article#primerElemento{
    flex: 100%;
  }
  div#content main section#principal article.news-art{
    flex: 40%;
  }


}