
div#contenido{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
div#contenido header{
    background-color: blue;
    height: 2rem;
    text-align: center;
    padding-top: 0.5rem;
}
div#contenido main{
    display: flex;
    flex-direction: column;
}
div#contenido main article{
    background-color: blueviolet;
    height: 10rem;
    text-align: center;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
}

div#contenido main nav{
    background-color: yellow;
    order: -1;
    text-align: center;
    height: 2rem;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
}

div#contenido main aside{
    background-color: aqua;
    height: 2rem;
    margin-top: 0.5rem;
    text-align: center;
    padding-top: 0.5rem;
}

footer{
    background-color: blue;
    height: 2rem;
    margin-top: 0.5rem;
    text-align: center;
    padding-top: 0.5rem;
}

@media (min-width:768px){
    div#contenido{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    div#contenido header{
        width: 100%;
        padding-top: 0.5rem;
    }
    div#contenido footer{
        width: 100%;
        padding-top: 0.5rem;
    }
    div#contenido main{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    div#contenido main nav{
        width: 32.666%;
        height: 10rem;
        padding-top: 0.5rem;
    }
    div#contenido main article{
        width: 32.666%;
        height: 10rem;
        padding-top: 0.5rem;
    }
    div#contenido main aside{
        width: 32.666%;
        height: 10rem;
        padding-top: 0.5rem;
    }
}