
div#contenido{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
div#contenido header{
    background-color: rgb(89, 89, 221);
    height: 2rem;
    text-align: center;
    padding-top: 0.5rem;
}
div#contenido main{
    display: flex;
    flex-direction: column;
}
div#contenido main article{
    background-color: blueviolet;
    height: 10rem;
    text-align: center;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
}

div#contenido main nav{
    background-color: orange;
    order: -1;
    text-align: center;
    height: 2rem;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
}

div#contenido main aside{
    background-color: lightgreen;
    height: 2rem;
    margin-top: 0.5rem;
    text-align: center;
    padding-top: 0.5rem;
}

footer{
    background-color: rgb(89, 89, 221);
    height: 2rem;
    margin-top: 0.5rem;
    text-align: center;
    padding-top: 0.5rem;
}

@media (min-width:768px){
    div#contenido main{
        flex-direction: row;
    }
    div#contenido main nav{
        height: 10rem;
        flex-grow: 1;
    }
    div#contenido main article{
        height: 10rem;
        flex-grow: 4;
        margin: 0.5rem 0.5rem 0 0.5rem;
    }
    div#contenido main aside{
        height: 10rem;
        flex-grow: 1;
    }
}