*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    font-size: 16px;
    background-color: black;
    color: white;
}

h1{
  text-align: center;
  margin-bottom: 1rem;
}

.reproductor{
    width: 20rem;
    border: 1px solid white;
    padding: 1rem;
    margin: auto;
    display: flex;
/*     justify-content: space-between; */
}

.botones{
    background: none;
    border: none;
}

section > button > svg{
    height: auto;
    width: 1rem;
    fill: white;
    cursor: pointer;

}

section > p#timer{

}

/* iconos */
section > button#play{
    margin-top: auto;
    flex-grow: 1;
}

section > button#mute{
    margin-top: auto;
    margin-right: 0.5rem;
    flex-grow: 1;
}

section > button#rango{
    margin-top: auto;
    flex-grow: 1;
}

section > button#restart{
    flex-grow: 3;
    margin-top: auto;
    margin-left: 30%;
}

section > p#timer{
    margin: auto;
}

/* BARRA SLIDER */

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 20%;
}

input[type=range]:focus {
    outline: none;
}
  
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.2rem;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: white;
    border-radius: 25px;
    border: 0px solid #000101;
}


  /* BOLA */

  
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.1rem;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: white;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: white;
    border-radius: 25px;
    border: 0px solid #000101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: white;
    cursor: pointer;
}
  
input[type=range]::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: white;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: white;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: white;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: white;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ac51b5;
}