*{
    box-sizing: border-box;
}
body{
    background-color: #686868;
    font-family: arial,sans-serif;
}
a{
    text-decoration: none;
    color: #FFF;
    font-size: 1.25rem;
}
ul{
    padding: 0;
    list-style-type: none;
}
ul.menu{
    background-color: #ACACAC;
    border: 1px solid #FFF;
    display: flex;
    flex-direction: column;
    /*flex-direction: column-reverse;*/
}
ul.menu>li{
    background-color: #C9830A;
    margin: 0.62rem;
    border: 1px solid #FFF;
    padding: 0.62rem;
}