*{
    box-sizing: border-box;
}

div#contenido{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    border: 1px solid blue;
}

header>nav#menu-principal>ul#menu,header>nav#menu-principal>input{
    display: none;
    order: 1;
}

header>nav#menu-principal>label#menu-hamburger{
    order: 1;
}

header>picture{
    order: 3;
}




/* ======== PARA VER SOLO EL MENÚ ========= */
/* main,footer{
    display: none;
} */