* {
	box-sizing: border-box;
}

/*Comenzamos con la versión móvil*/

/*Hacemos el cuerpo de la web flexible*/
body {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	color: grey;
}

/*Estilo para todos los enlaces de la web*/
a {
	color: grey;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}

ul {
	list-style: none;
	padding-left: 0;
}

/*Hacemos la cabecera flexible*/
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header>nav#menu-principal {
	order: 1;/*La hamburguesa la colocamos al principio*/
	padding-right: 0.5rem;
}

header>nav#menu-principal>label>span {
	font-weight: bold;
	font-size: 2rem;
}

/*El input de la hamburguesa tiene que estar oculto*/
header>nav#menu-principal>input {
	display: none;
}


/*El menu principal es flexible*/
header>nav#menu-principal>ul#menu {
	display: flex;
	display: none;
	flex-flow: column;
	padding: 0.3rem 0;
	border-bottom: 1px solid grey;
	background-color: white;
	width: 100%;
}

header > nav#menu-principal >input:checked+ul#menu{
	display: flex;
	flex-direction: column;
	position: absolute;
	left:0;
	top:4rem;
	padding-left: 1rem;
}

/*En segunda posición está el buscador*/
header>nav#search {
	order: 2;
	font-size: 1.4rem;
}

/*En tercera posición se encuentra el logo*/
header>a#logo {
	order: 3;
	font-size: 1.4rem;
}

/*El logo de la cabecera tiene un tamaño fijo*/
header>a#logo>picture>img#wonder {
	width: 200px;
	height: auto;
}

/*En cuarta posición está el icono del usuario de login*/
header>nav#login {
	order: 4;
	font-size: 1.4rem;
}

/*Por último, en quinta posición se encuentra la bolsa de la compra*/
header>nav#bag {
	order: 5;
	padding-right: 0.5rem;
	font-size: 1.4rem;
}

/*Hacemos flexible el cuerpo principal*/
main {
	display: flex;
	flex-flow: row wrap;
}


/*Los artículos tienen que ser flexibles*/
main>article.item {
	display: flex;
	flex-flow: column;
	margin-bottom: 0.5rem;
	/*En la versión de móvil se muestran en filas de 2*/
	flex: 0 50%;
	/* contorlo el espacio básico que ocupa el item .(este es el que manda en cada version)*/
	padding: 1rem;
}

main>article.item>* {
	margin-bottom: 0.5rem;
}

/*El párrafo con la descripción del artículo va en segundo lugar*/
main>article.item>p {
	order: 2;
	text-align: center;
}

/*La imagen del artículo aparece en primer lugar*/
main>article.item>picture{
	order: 1;
}
/*Las imágenes de los articulos tienen una anchura relativa*/
main>article.item>picture img {
	margin-bottom: 0.5rem;
	width: 100%;
	height: auto;
}

/*El precio va en tercera posición*/
main>article.item>span {
	order: 3;
	margin: 0 auto;
}

/*El botón lo colocamos en última posición*/
main>article.item>input {
	order: 4;
	border: 0;
	background-color: #92d1c8;
	border-radius: 0.2rem;
	padding: 0.5rem;
	color: white;
	margin: 0 auto;
}

main>article.item>input:hover {
	cursor: pointer;
	background-color: #88c3ba;
}

/*FOOTER*/
footer {
	display: flex; /*hacemos el pie flexible*/
	flex-direction: column;
	align-items: center;
	background-color: lightgray;
	padding: 1rem;
}
/*El texto del pie va al final*/
footer> small{
	order:3;
}
/*El menú adicional es flexible y va en segunda posición*/
footer>nav:nth-child(3){
	order:2;
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-top: 1rem;
}
footer>nav:nth-child(3)>ul#menu-adicional{
	display: flex;
	flex-flow: column;
	align-items: center;
}
footer>nav#menu-social-adicional{
	order:1; 	/*Lo colocamos en primer lugar dentro del pie*/

	display: flex; /*El menú social hay que hacerlo flexible*/
	flex-flow: column;
	align-items: center;
}

footer>nav#menu-social-adicional>ul {
	display: flex;
}

footer>nav#menu-social-adicional>ul>li i {
	font-size: 1.5rem;
	color: #cda194;
	padding: 0 0.5rem;
}


/*VERIÓN DE ESCRITORIO*/
@media (min-width:1200px) {

	/*Hay 4 artículos por fila*/
	main>article.item {
		flex: 0 25%;
	}

	/*En la cabecera va logo e iconos en la misma línea y debajo el menú*/
	header {
		flex-wrap: wrap;
	}

	header>nav#search{
		margin-left: auto;
	}
	/*El menú ocupa solo una línea*/
	header>nav#menu-principal{
		flex:100%;
		order: 5;
	}
	/*La barra social y el menú adicional están uno al lado del otro*/
	header>nav#menu-principal>ul#menu {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
	}

	header>nav#search {
		order: 2;
		flex-basis: 5%;
	}

	header>a#logo {
		order: 1;
		font-size: 1.4rem;
		flex: 20%;
	}

	header>nav#login {
		order: 3;
		font-size: 1.4rem;
		flex-basis: 5%;
	}

	header>nav#bag {
		order: 4;
		flex-basis: 5%;
	}

	/*Ocultamos el icono de menú*/
	header>nav#menu-principal>label {
		display: none;
	}

	header > nav#menu-principal >input:checked+ul#menu{
		display: flex;
		flex-direction: row;
		position: inherit;
		left:0;
		top:auto;
		padding-left: 0
	}

	/*FOOTER*/
	footer {
		flex-flow: row wrap;
	}

	/*La barra social y el menú adicional están uno al lado del otro*/
	footer>nav {
		flex: 50%;
	}

	footer>nav>span {
		border-bottom: 1px solid;
	}

	footer>small {
		flex: 100%;
		text-align: center;
	}
}