*{
    box-sizing: border-box;
}
body{
    font-size: 18px;
}

div#contenido{
    display: flex;
    flex-direction: column;
}

section#ofertas{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
/*     flex:1 1 auto; */
}

section#ofertas > article{
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

section#ofertas > article > h3{
    order: -2;
    align-self: center;
}

section#ofertas > article > img{
    order: -1;
    width: 100%;
    height: auto; /* para que no deforme la img */
}

section#ofertas > article > ul{
    text-align: left;
}

section#ofertas > article > button{
    background-color: orange;
    border-radius: 5px;
    box-shadow: 10px black;
    padding: 1rem;
    width: 50%;
    align-self: center;
    margin-top: auto;
}

@media (min-width:720px){
    header > h1{
        color: blue;
    }
    section#ofertas{
        flex-direction: row;
        flex-wrap: wrap;
    }
    section#ofertas > article{
        flex: 0 1 30%;
    }
}